@color: black;
html, body {

  .div1 {
    width: 500px;
    height: 500px;
    background-color: @color;
  }
  .div2 {
    width: 300px;
    height: 300px;
    background-color: lighten(@color, 50%);
  }
  .div3 {
    width: 200px;
    height: 200px;
    background-color: lighten(@color, 70%);
  }
  .div4 {
    width: 50px;
    height: 50px;
    background-color: lighten(@color, 90%);
  }

}