body {
  width: 100%;
  margin: 0 auto;
  background-color: #D2D4D1;
  #menu {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #EDEFEB;
    border-left: 3px solid #B1B3AF;
    border-top: 3px solid #B1B3AF;
    border-bottom: 3px solid #000200;
    border-right: 3px solid #000200;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    .el_menu {
      border: 1px solid black;
      &:hover {
        background-color: #FDFFFC;
      }
      a {
        color: brown;
      }
      a:link {
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
      a:active {
        text-decoration: none;
      }
    }
  }
  #tresc{
    margin-top: 50px;
  }
}