html, body {
  height: 100%;
  width: 760px;
  margin: 0 auto;

  #banner {
    width: 100%;
    height: 100px;
    background-color: #ffff00;
  }
  #menu {
    width: 20%;
    height: 300px;
    float: left;
    background-color: red;
  }
  #panel{
    width: 20%;
    height: 300px;
    float: right;
    background-color: tan;
  }
  #tresc {
    width: 60%;
    height: 500px;
    margin-left: 20%;
    background-color: #008000;
  }
}