html, body {
  height: 100%;
  background-color: #7F817E;
  #okno {
    width: 760px;
    margin: 0 auto;
    border: 1px solid #000000;
    #naglowek {
      padding-top: 10px;
      background-color: #EDEFEB;
      text-align: center;
    }
    #belka {
      padding: 5px;
      background-color: #BEC1BD;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      span {
        font-size: 12px;
        color: #3A3C39;
      }
    }
    #menu_i_tresc {
      height: 100%;
      display: table;
      #menu {
        display: table-cell;
        background-color: #DCDCD3;
        width: 22%;
        height: 100%;
        h4 {
          text-align: center;
          color: #383936;
        }
        .el_menu {
          margin: 0 auto;
          width: 80%;
          text-align: center;
          display: block;
          border: 1px solid black;
          background-color: #EEEEEE;
          &:hover {
            background-color: #FFFFFF;
          }
          a {
            color: #818181;
          }
          a:link {
            text-decoration: none;
          }
          a:visited {
            text-decoration: none;
          }
          a:hover {
            text-decoration: none;
          }
          a:active {
            text-decoration: none;
          }
        }
      }
      #tresc {
        display: table-cell;
        width: 72%;
        height: 100%;
        background-color: #FEFFFC;
        text-align: justify;
        border-left: 1px solid #000000;
        padding-left: 3%;
        padding-right: 3%;
        line-height: 1.5;
        font-size: 18px;
        color: #898A87;
      }
    }
    #stopka {
      clear: both;
      width: 100%;
      text-align: center;
      background-color: #C0C0C0;
      font-size: 18px;
      color: #343434;
      border-top: 1px solid #000000;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}