html, body {
  height: 100%;
  #pojemnik {
    width: 760px;
    margin: 0 auto;
    display: table;
    #banner{
      width: 100%;
      height: 100px;
      display: table-caption;
      background-color: #ffff00;
    }
    #menu{
      width: 20%;
      display: table-cell;
      background-color: red;
    }
    #tresc{
      width: 80%;
      height: 500px;
      display: table-cell;
      background-color: #008000;
    }
  }
}