body {
  background-color: #D2D4D1;
  width: 760px;
  height: 100%;
  margin: 0 auto;
  #menu {
    margin-top: 30px;
    float: left;
    width: 30%;
    height: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    .el_menu{
      text-align: center;
      display: block;
    }
  }
  #tresc{
    border-left: 3px solid #000000;
    padding-left: 60px;
    float: right;
    width: 460px;
  }
}