html, body {
  height: 100%;
  width: 760px;
  margin: 0 auto;
  display: table;
  #banner {
    display: table-caption;
    width: 100%;
    height: 100px;
    background-color: #ffff00;
  }
  #pojemnik {
    display: table-cell;
    width: 80%;
    border: 1px solid lightpink;
    #menu {
      width: 25%;
      height: 300px;
      float: left;
      background-color: red;
    }
    #tresc {
      width: 75%;
      height: 500px;
      float: right;
      background-color: #008000;
    }
  }
  #panel {
    display: table-cell;
    width: 20%;
    height: 300px;
    background-color: tan;
  }
}