html, body{
  height: 100%;
  width: 760px;
  margin: 0 auto;
  #banner{
    width: 100%;
    height: 100px;
    background-color: #ffff00;
  }
  #menu{
    float: left;
    background-color: #ff0000;
    width: 20%;
    height: 300px;
  }
  #tresc{
    float: right;
    background-color: #008000;
    width: 80%;
    height: 500px;
  }
}