body {
  background-color: #D2D4D1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  #menu {
    float: left;
    width: 14%;
    margin-top: 40px;
    padding-left: 3%;
    height: 100%;
    .el_menu{
      text-align: center;
      display: block;
      border: 1px solid black;
      background-color: #EDEFEB;
      &:hover {
        background-color: #FDFFFC;
      }
      a {
        color: brown;
      }
      a:link {
        text-decoration: none;
      }
      a:visited {
        text-decoration: none;
      }
      a:hover {
        text-decoration: none;
      }
      a:active {
        text-decoration: none;
      }
    }
  }
  #tresc{
    border-left: 3px solid #A9ABA8;
    padding-left: 3%;
    float: right;
    width: 77%;
    #naglowek{
      position: relative;
      top: 0px;
      left: -28%;
      width: 40%;
      padding: 3px;

      background-color: #BEC1BD;
      border-bottom: 1px solid #000200;
    }
    #stopka{
      position: relative;
      top: 0px;
      left: -28%;
      width: 40%;
      padding: 3px;

      background-color: #BEC1BD;
      border-top: 1px solid #000200;
    }
  }
}