body{
  width: 330px+250px;
  margin: 30px auto;
  background-color: #808080;
  div{
    text-align: center;
    position: relative;
    width: 330px;
    height: 100px;
  }
  .A{
    background-color: #ffff00;
    border: 2px solid #ff0000;
  }
  .B{
    top: -50px;
    left: 250px;
      background-color: white;
      border: 2px solid  #0000ff;
  }
}

