body {
  background-color: white;
  width: 100%;
  height: 100%;
  #strona {
    width: 60%;
    background-color: #CCCCCC;
    height: 100%;
    margin: 0 auto;
    #menu {
      float: left;
      width: 15%;
      margin-top: 40px;
      padding-left: 3%;
      height: 100%;
      .el_menu {
        text-align: center;
        display: block;
        border: 1px solid black;
        background-color: #EEEEEE;
        &:hover {
          background-color: #FFFFFF;
        }
        a {
          color: #818181;
        }
        a:link {
          text-decoration: none;
        }
        a:visited {
          text-decoration: none;
        }
        a:hover {
          text-decoration: none;
        }
        a:active {
          text-decoration: none;
        }
      }
    }
    #naglowek {
      background-color: #BEC1BD;
      padding: 5px;
      border-bottom: 1px solid #000200;
    }
    #tresc {
      border-left: 3px solid #A9ABA8;
      background-color: #EEEEEE;
      padding-left: 3%;
      float: right;
      width: 75%;
    }
    #stopka {
      clear: both;
      background-color: #BEC1BD;
      padding: 5px;
      border-top: 1px solid #000000;

    }
  }
}