﻿@color_bg: #AAAAAA;
@lista_border: black;
@wszystko_boder: white;

body{
  background-color: @color_bg;
  #wszystko{
    margin: 0 auto;
    border: 1px solid @wszystko_boder;
    width: 1000px;
    height: 650px;
    #title_woj{
      color: white;
      width: 340px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: -30px;
    }
    #lista{
      border: 1px solid @lista_border;
      float: left;
      background-color: white;
      margin-left: 30px;
      margin-top: 40px;
      width: 300px;
      height: 540px;
      overflow-y: scroll;
    }
    #mapa{
      float: right;
    }
    #guzik{
      float: left;
      margin-top: -50px;
    }
    #reg_input{
      float: left;
      width: 300px;
      margin-left: 30px;
    }

  }
}