@color: hsl(15, 100%, 50%);

html, body {
  height: 100%;
  margin: 0;
  #outer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .box {
      font-size: 100px;
      color: whitesmoke;
      border: 1px solid #000000;
      width: 198px;
      height: 200px;
      text-align: center;
      line-height: 200px;
      vertical-align: middle;
    }
    :nth-child(1) {
      background-color: lighten(@color, 0%);
      align-self: flex-start;
      margin-right: auto;
    }
    :nth-child(2) {
      background-color: lighten(@color, 30%);
    }
    :nth-child(3) {
      background-color: lighten(@color, 55%);
      align-self: flex-end;
      margin-left: auto;
    }

  }
}