html, body {
  margin: 0;
  height: 100%;
  #all {
    display: flex;
    height: 100%;
    flex-direction: row;
    #menu {
      height: 100%;
      width: 500px;
      background-color: #BBBBBB;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-bottom: 0;
        text-align: center;
        width: 40%;
        font-size: 18px;
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 10px 0 0 0;
        border-left: 5px solid #999999;
        background-color: #F3F3F3;
      }
    }
    #main{
      height: 100%;
      padding-left: 30px;
      background-color: #D4D4D4;
    }
  }
}