.tresc {
  width: 760px;
  margin: 30px auto;
  text-align: justify;
  text-indent: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 3px;
}
.tresc img[src="R.gif"] {
  float: left;
}
body {
  background-image: url('listki.gif');
  background-repeat: repeat-y;
}
