* {
  font-size: large;
}
div {
  position: relative;
}
.C {
  margin: 0 auto;
  padding-top: 15px;
  width: 360px;
  height: 40px;
  background-color: #f5deb3;
  border: 3px solid red;
}
.B {
  top: -30px;
  left: 30px;
}
.A {
  top: -10px;
  left: 30px;
}
