body {
  background-image: url('papier.gif');
}

div.adres {
  margin-left: auto;
  margin-right: auto;
  width: 12em;

  background-color: yellow;
  border-style: solid;

  margin-bottom: 10px;
  padding: 10px;
}

span.nazwisko {
  display: block;
  font-weight: bold;
  border-bottom: thin solid blue;
  border-top: thin solid blue;
  color: blue;
}

span.ulica {
  display: block;
  color: green;
}

span.kod {
  color: brown;
}

span.miejscowosc {
}

span.telefon {
  display: block;
}