body {
  width: 760px;
  margin: 0 auto;
  background-color: #D2D4D1;
}
#menu {
  background-color: #EDEFEB;
  border-left: 3px solid #B1B3AF;
  border-top: 3px solid #B1B3AF;
  border-bottom: 3px solid #000200;
  border-right: 3px solid #000200;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
#menu .el_menu {
  border: 1px solid black;
}
#menu .el_menu:hover {
  background-color: #FDFFFC;
}
#menu .el_menu a {
  color: brown;
}
#menu .el_menu a:link {
  text-decoration: none;
}
#menu .el_menu a:visited {
  text-decoration: none;
}
#menu .el_menu a:hover {
  text-decoration: none;
}
#menu .el_menu a:active {
  text-decoration: none;
}
