ul{
  li{
    list-style-type: decimal;
    color: red;
    li{
      list-style-type: lower-latin;
      color: green;
      li{
        list-style-type: disc;
        color: blue;
      }
    }
  }
}