body {
  width: 760px;
  margin: 0 auto;
  background-color: #D2D4D1;
}
#menu {
  background-color: #EDEFEB;
  border-left: 3px solid #B1B3AF;
  border-top: 3px solid #B1B3AF;
  border-bottom: 3px solid #000200;
  border-right: 3px solid #000200;
  text-align: center;
}
