<div id="showConfig" style="display: none"><i class="glyphicon glyphicon-home"></i> Show Config</div>

<div id="config-result" style="display: none">
    <hr>
    <span><i class="glyphicon glyphicon-magnet"></i> Size</span>
    <span id="config-size"></span>
    <span><i class="glyphicon glyphicon-certificate"></i> Dim</span>
    <span id="config-dim"></span>
    <span><i class="glyphicon glyphicon-bell"></i> Max</span>
    <span id="config-max"></span>
</div>

<form class="form-horizontal" id="config" action="play" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Config Mastermind</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="size"><i class="glyphicon glyphicon-magnet"></i> Size</label>
  <div class="col-md-2">
    <select id="size" name="size" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="dim"><i class="glyphicon glyphicon-certificate"></i> Dim</label>
  <div class="col-md-2">
    <select id="dim" name="dim" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="max"><i class="glyphicon glyphicon-bell"></i> Max</label>
  <div class="col-md-4">
    <select id="max" name="max" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Play"></label>
  <div class="col-md-4">
    <button id="play" class="btn btn-success">Play</button>
  </div>
</div>

</fieldset>
</form>