<table style="display: none">
    <tr id="empty-guess" style="display: none">
        <td>
            <input name="guess" type="text" placeholder="your guess" class="input-medium">
        </td>
        <td class="score"></td>
        <td class="submit">
            <button class="btn btn-default submit-guess"><i class="glyphicon glyphicon-arrow-right"></i> Submit Guess</button>
        </td>
    </tr>
</table>

<i class="glyphicon glyphicon-star" id="star-black" style="display: none"></i>
<i class="glyphicon glyphicon-star-empty" id="star" style="display: none"></i>