<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />

    <script src='/lib/jquery/jquery.js'></script>
    <script src='/lib/underscore/underscore.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
  <a href="">
    <h1>Welcome to <%= title %></h1>
  </a>
    <p>
        <% include config %>
        <% include guess %>
    </p>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover" id="guesses">

            </table>
        </div>
    </div>
  </body>
</html>
