<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>CzatApka</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/styl.css">
</head>

<body data-ng-app="czatApka">
<div data-ng-controller="chatCtrlr">


    <div data-ng-hide="connected" class="bulb">
        <img src="img/bullet_red.png"> trwa łączenie…
    </div>
    <div data-ng-show="connected" class="bulb">
        <img src="img/bullet_green.png"> połączono
    </div>

    {{ socket.socket.connected }}

    <div class="rooms">
        <ul>
            <li ng-repeat="(room, users_room) in rooms">
                <a href="#" ng-click="changeRoom(room)">{{ room }}</a> ->
                <span ng-repeat="user_room in users_room" class="animate-if">
                    <p ng-if="users[user_room]">{{ users[user_room] }}</p>
                    <p ng-if="!users[user_room]">{{ user_room }}</p>
                </span>
            </li>
        </ul>
    </div>

    <div id="chatLog">
        <div data-ng-repeat="msg in msgs track by $index">{{ msg }}</div>
    </div>
    <form action="" data-ng-submit="sendMsg()">
        <input name="input" type="text" ng-model="user">
        <br>
        <input data-ng-model="msg.text" style="width: 350px"
               placeholder="wiadomość"></input>
        <button type="submit">Wyślij</button>
    </form>

    <hr/>
    <a class="btn btn-primary" data-toggle="modal" href="#myModal" >Login</a>

        <div class="modal " id="myModal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
          </div>
          <div class="modal-body">
            <form method="post" action='/login' name="login_form">
              <p><input type="text" class="span3" name="username" id="username" placeholder="username"></p>
              <p><input type="password" class="span3" name="password" placeholder="password"></p>
              <p><button type="submit" class="btn btn-primary">Log in</button>
              </p>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>


</div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
