#chatLog {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 6px;
	padding-top: 6px;
	margin-bottom: 16px;
	height: 300px;
	overflow: auto;
}
.bulb {
	font-size: 16px;
	font-family: arial, sans-serif;
}
.bulb img {
	height: 18px;
	vertical-align: bottom;
}

.animate {
  background:white;
  border:1px solid black;
  padding:10px;
}

.animate.ng-enter, .animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
  opacity:0;
}

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity:1;
}