<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>CzatApka</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/styl.css">
</head>

<body data-ng-app="czatApka">
<div data-ng-controller="chatCtrlr">


    <div data-ng-hide="connected" class="bulb">
        <img src="img/bullet_red.png"> trwa łączenie…
    </div>
    <div data-ng-show="connected" class="bulb">
        <img src="img/bullet_green.png"> połączono
    </div>

    <div class="rooms">
        <ul>
            <li ng-repeat="(room, users_room) in rooms">
                <a href="#" ng-click="changeRoom(room)">{{ room }}</a> ->
                <span ng-repeat="user_room in users_room" class="animate-if">
                    <p ng-if="users[user_room]">{{ users[user_room] }}</p>
                    <p ng-if="!users[user_room]">{{ user_room }}</p>
                </span>
            </li>
        </ul>
    </div>

    <div id="chatLog">
        <div data-ng-repeat="msg in msgs track by $index">{{ msg }}</div>
    </div>
    <form action="" data-ng-submit="sendMsg()">
        <input name="input" type="text" ng-model="user">
        <br>
        <textarea data-ng-model="msg.text" maxlength="20"
               placeholder="wiadomość"></textarea>
        <button type="submit">Wyślij</button>
    </form>
</div>
</body>

</html>
